@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

.top-section {
  width: 1321px;
  height: 646px;
  background: #161616;
  border-radius: 30px;
  margin: 50px 110px;
}

.top-section h1 {
  font-size: 70px;
  margin: 0;
}
.half-width-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-portion {
  margin-left: 100px;
  width: 531px;
}
.watch-link {
  text-decoration: none;
  color: white;
  background-color: #dd0000;
  padding: 10px 30px;
  border-radius: 5px;
  transition: ease-out 0.3s;
  outline: none;
}
.watch-link:hover {
  box-shadow: inset 168.5px 0 0 0 #f9e506;
  color: black;
}
.fa-angle-right {
  margin-left: 10px;
}
.image {
  padding-left: 25px;
  padding-top: 33px;
  width: 581px;
  height: 613px;
}

.mid-section {
  width: 1321px;
  margin: 100px 110px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  margin-bottom: 0;
}

.mid-section h3 {
  color: black;
}
.mid-section span {
  color: grey;
  margin-left: 10px;
}
.display {
}
.up-grp-blog {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 312px;
  height: 312px;
  background: #161616;
  border-radius: 10px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 252px;
  height: 64px;
  background: #ffffff;
  border-radius: 10px;
  transition: ease-out 0.3s;
  outline: none;
}

.item:hover {
  box-shadow: inset 252px 0 0 0 #dd0000;
}

.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  color: white;
}

.box-item {
  width: 312px;
  height: 362px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 40px lightgray;
  border-radius: 10px;
}

.align {
  padding-left: 20px;
}
.button-design {
  border: 1px solid grey;
  padding: 10px 30px;
  border-radius: 5px;
}
.time-comment {
  display: flex;
}
#space-comment {
  padding-left: 30px;
}
.grid-second-item h3 {
  color: black;
}
.grid-second-item span {
  color: grey;
  margin-left: 10px;
}
.grid-second-item {
  width: 984px;
  margin-top: 24px;
  margin-left: 447px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
