@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
}

body {
  margin: 0;
  padding: 0;
}

body > *:not(footer) {
  margin: 5% 3%;
}

.border-radius {
  border-radius: 10px;
}

.mid-flex {
  display: flex;
}

.mid-grid {
  display: grid;
}

h1 {
  font-size: 3rem;
}

.link-design {
  text-decoration: none;
  padding: 0.9rem 1.8rem;
  background-color: #dd0042;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 700;
}

.top-section {
  background-color: #161616;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
}

.top-section div {
  width: 45%;
  border: 0;
  padding: 0 3%;
}

.top-section h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.top-section a {
  margin-top: 2%;
}

.top-section i {
  margin-left: 10px;
}

header > div:nth-child(1) {
  padding-right: 3%;
  padding: 6%;
}

.banner-image {
  border: 0;
  padding: 0;
  align-self: stretch;
  display: flex;
  align-items: flex-end;
}

.banner-image img {
  width: 100%;
  border: 0;
  padding: 0;
}

.link-design:hover {
  box-shadow: inset 32em 0 0 0 yellow;
  color: #161616;
}

@media screen and (max-width: 688px) {
  body {
    padding: 0;
  }
  .top-section {
    margin-top: 0;
  }
  .top-section #top-paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 4vw;
  }

  .top-section {
    flex-wrap: wrap;
    text-align: center;
  }

  .top-section div {
    width: 90%;
  }

  .top-section h1 {
    font-size: 7vw;
  }

  .link-design {
    font-size: 4vw;
  }

  .banner-image {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 689px) and (max-width: 1024px) {
  .top-section #top-paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
  }
}

#mid-blog {
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: minmax(0, 1fr);
  grid-auto-flow: row;
  gap: 1%;
}

#mid-blog nav {
  align-self: start;
  background-color: #161616;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  text-align: center;
  font-weight: bold;
  padding: 10%;
}

#mid-blog a {
  font-size: 1rem;
  background-color: white;
  color: #161616;
}

#mid-blog .click-item {
  background-color: #dd0042;
  color: black;
}

#mid-section-grid {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2%;
  grid-row-gap: 2%;
}

.image img {
  width: 100%;
}

article {
  border: 2px solid lightgray;
}

.section-blog {
  padding: 12px;
}

.transfer-button {
  border: 1px solid #161616;
  padding: 0.3rem 1.2rem;
}

.blog-title {
  font-size: 1.3rem;
  font-weight: 800;
}

article .blog-font {
  gap: 1.5rem;
  color: #161616bb;
}

@media screen and (max-width: 668px) {
  #mid-blog {
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(0, 1fr);
  }

  #mid-blog nav a {
    font-size: 3vw;
    display: block;
  }

  #mid-section-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .transfer-button,
  .blog-title,
  .blog-font {
    font-size: 3vw;
  }
}

@media screen and (min-width: 688px) and (max-width: 1024px) {
  #mid-blog {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }

  #mid-blog nav {
    padding: 0%;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }
  #mid-blog nav a {
    width: 30%;
    border: 1px solid lightgray;
  }

  #mid-section-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  #mid-section-grid article:nth-child(n + 7) {
    display: none;
  }

  #mid-blog > div:nth-child(3) {
    padding: 2%;
    display: block;
    justify-self: center;
    font-size: 1rem;
  }
}

footer {
  padding: 2% 10%;
  margin: 0;
  background-color: #161616;
  text-align: center;
}

footer h1 {
  color: white;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3%;
  font-size: 3.5rem;
}

footer .foot-link {
  display: flex;
  justify-content: center;
}

footer .foot-link a {
  text-decoration: none;
  color: #b9b9b9;
  font-size: 1.2rem;
  margin: 0 1.2rem;
  display: inline-block;
}

footer h3 {
  margin-top: 3rem;
  font-size: 2rem;
  color: white;
}

.social-foot-link {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

footer .social-foot-link a {
  margin: 0 1.25rem;
}
.fa-facebook-square {
  color: #0e8cf1;
}

.fa-twitter-square {
  color: #1da1f2;
}

.fa-youtube {
  color: red;
}

@media screen and (max-width: 688px) {
  footer .foot-link {
    flex-direction: column;
    gap: 1rem;
  }

  footer .foot-link a {
    font-size: 2rem;
  }

  footer .social-foot-link a {
    font-size: 4rem;
  }
}

@media screen and (min-width: 689px) and (max-width: 1024px) {
  footer .foot-link {
    flex-wrap: wrap;
    gap: 1rem;
  }

  footer .foot-link a {
    font-size: 1.2rem;
    margin: 0 2rem;
  }
}
