@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* font-family: "Poppins", sans-serif; */

:root {
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2vw;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > *:not(footer) {
  margin: 3% 5%;
}

header h1 {
  margin: 0;
  font-size: 3rem;
}

header div p {
  padding-bottom: 1.3rem;
}

.link-button {
  padding-top: 1rem;
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 2rem;
}

/* header > div:nth-child(1) {
  width: 50%;
} */

header {
  background-color: black;
  color: white;
  border-radius: 15px;
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 3rem;
}
header > div {
  width: 50%;
}

header > div:nth-child(2) {
  padding-top: 3%;
  margin-left: 10%;
  align-self: stretch;
  display: flex;
}
header div img {
  width: 80%;
}

/* breakpoint  mobile device for 767px */

@media screen and (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header div h1 {
    font-size: 5vh;
  }
  header div p {
    font-size: 3vw;
  }
  header div a {
    font-size: 4vw;
  }

  header > div {
    width: 80vw;
  }
  header > div:nth-child(1) {
    padding-bottom: 6%;
    text-align: center;
  }
  header > div:nth-child(2) {
    justify-content: center;
  }
  header #banner-paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2;
  }
}
/* header part end */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 15px;
}

#fixture-and-blog > div:nth-child(1) {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #161616;
  font-weight: bold;
  padding: 10%;
  border-radius: 15px;
}
.flex-container {
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}

section > div > div a {
  text-align: center;
  display: block;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 5% 2%;
  font-size: 1.5rem;
}
#selected {
  background-color: blue;
}
#selected a {
  color: white;
}

article {
  margin: 0;
  padding: 0;
  border: 1px solid grey;
  border-radius: 10px;
}

article > div {
  display: flex;
  flex-direction: column;
  display: block;
  padding: 3%;
}

article > img {
  width: 100%;
}

article > div h3 {
  font-size: 1.2vw;
}

article .transfer-btn {
  padding-top: 15px;
  font-size: 1.7vw;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: transparent;
  padding: 1% 2.5%;
}

section > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.clock-comment {
  color: gray;
  display: flex;
  flex-direction: row;
}
.clock-comment div:nth-child(2) {
  padding-left: 8%;
}

.view-link {
  display: none;
}

/* mobile device  */
@media screen and (max-width: 767px) {
  article > div {
    font-size: 3vw;
  }
  article > div > h3 {
    font-size: 3vw;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  #fixture-and-blog > div:nth-child(1) {
    background-color: white;
    display: flex;
    flex-direction: colum;
    justify-content: space-between;
  }
  .flex-container {
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    padding: 0 10%;
  }
  #fixture-and-blog > div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

/* tab device min-width(768px) to  max-width (1023px) */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  article > div {
    font-size: 2vw;
  }
  article > div > h3 {
    font-size: 2vw;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  #fixture-and-blog > div:nth-child(1) {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .flex-container {
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    padding: 0 10%;
  }
  #fixture-and-blog > div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  #fixture-and-blog article:nth-child(n + 7) {
    display: none;
  }
  .view-link {
    display: block;
    display: flex;
    justify-content: center;
  }
}

footer {
  height: 500px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer h1 {
  font-size: 3rem;
}
hr {
  width: 80%;
  border: 1px solid grey;
}

footer a {
  margin-right: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
.icon-align {
  display: flex;
  justify-content: space-around;
}
footer i {
  padding-left: 1.5rem;
}
.fa-brands {
  font-size: 3rem;
  color: white;
}
